.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #00183c;

  .innerContainer {
    width: 97%;
    height: 95%;
    background: #ffffff;
    border-radius: 39px;
    position: relative;
  }

  .forgotPassword {
    position: absolute;
    width: 356px;
    height: 23px;
    left: calc(52.5% - 434px / 2);
    top: 810px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
  }

  .forgotPasswordHover:hover {
    color: #555555;
  }

  .createAccount {
    position: absolute;
    width: 356px;
    height: 23px;
    left: calc(57.5% - 434px / 2);
    top: 760px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
  }

  .createAccount:hover {
    color: #555555;
  }

  .loginTitle {
    position: absolute;
    width: 381px;
    height: 51px;
    left: calc(51% - 434px / 2);
    top: 319px;
    font-family: "Montserrat";
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .group40 {
    position: absolute;
    width: 434px;
    height: 335px;
    left: calc(50% - 434px / 2);
    top: 389px;
    background: #f9fffd;
    border: 1px solid #00f999;
    border-radius: 39px;
  }

  .loginSubtitle {
    position: absolute;
    width: 73px;
    height: 23px;
    left: calc(51% - 434px / 2);
    top: 417px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
  }

  .inputGroup {
    position: absolute;
    width: 390px;
    height: 53px;
    left: calc(50% - 390px / 2);
    top: 488px;
    background: #ffffff;
    border: 1px solid #00f999;
    border-radius: 39px;
  }

  .inputLabel {
    position: absolute;
    width: 297.21px;
    height: 24px;
    left: 568.49px;
    top: 503px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
  }

  .passwordGroup {
    position: absolute;
    width: 390px;
    height: 53px;
    left: calc(50% - 390px / 2);
    top: 589px;
    background: #ffffff;
    border: 1px solid #00f999;
    border-radius: 39px;
  }

  .passwordLabel {
    position: absolute;
    width: 297.21px;
    height: 24px;
    left: 568.49px;
    top: 604px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
  }

  .logo {
    position: absolute;
    width: 159px;
    height: 159px;
    left: 46%;
    top: 109px;
    background: url("/assets/logo-side.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 20px;
  }

  .buttonGroup {
    position: absolute;
    width: 298px;
    height: 53px;
    left: calc(50% - 298px / 2);
    top: 690px;
    border-radius: 39px;
  }

  .loginButton {
    width: 100%;
    height: 100%;
    border-radius: 39px;
    background: #00f999;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    top: 11%;
    position: absolute;

    line-height: 24px;
    color: #000000;
  }

  .buttonLabel {
    position: absolute;
    width: 70.9px;
    height: 24px;
    left: 684px;
    top: 705px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
  }
}
