@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");


.container {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    background-color: white;
    position: relative; 
    max-width: 1570px;
    padding-bottom: 100px;
}

.headerRight {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    background-color: white;
}

.notificationIcon {
    font-size: 26px;
    margin-right: 26px;
    background-color: #F6F5F5;
    border-radius: 100%;
    padding: 0.5rem;
}

.welcomeText {
    display: flex;
    align-items: center;
    border-radius: 26px;
    background-color: #F6F5F5;
    padding: 0.5rem;
}

.profilePic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 10px;
}

.header {
    background-color: white;
    padding: 20px;
    margin-top: 80px;
}

.header h2 {
    margin: 0;
    color: #00183C;
    margin-bottom: 50px;
}

.bubble {
    position: relative;
    width: 420px;
    margin-left: 10px;
    background-image: url('/assets/equalizacaoBubble.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 20px;
}

.bubble p {
    margin: 0; 
    font-size: large;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    width: 100%;
    padding: 7px;
    margin-top: 11px;
}

.content {
    padding: 20px;
}

.footerButtons {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    margin-top: 1000px;
}
.cancelButton {
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    background-color: #0a3874;
    color: #00f999;
    height: 35px;
    font-weight: bold;
    cursor: pointer;
    flex: 1;
    border: none;
}

.cancelButton:hover {
  background-color: #062144;
}

.submitButton {
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    width: 260px;
    height: 35px;
    font-family: "Montserrat", sans-serif;
    background-color: #00f999;
    color: #00183c;
    font-weight: bold;
    cursor: pointer;
    flex: 1;
    border: none;
}

.submitButton:hover {
  background-color: #00e689;
}