$background-color: #00183c;
$primary-color: #00f999;
$secondary-color: #f1f1f1;
$text-color: #000000;
$title-color: #00183c;
$font-family: "Montserrat";

.cadastroContainer {
  background: $background-color;

  padding: 20px;
  width: 100%;
  height: fit-content;
}

.cadastroBox {
  background: #ffffff;
  border-radius: 39px;
  padding: 40px;
}

.speechBubble {
  width: 115px;
  height: 115px;
  margin: 0 auto 40px;
  background: url("/assets/logo-side.png") no-repeat center center;
  background-size: contain;
}

.cadastroTitle {
  font-family: $font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: $title-color;
  margin-bottom: 40px;
}

.message {
  padding: 10px 20px;
  background-color: $primary-color;
  color: $background-color;
  border-radius: 5px;
  font-family: $font-family;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  z-index: 1000;
}

.error {
  background-color: red;
}


.haveAccount {
  font-family: $font-family;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: $title-color;
  margin-bottom: 40px;
}

.haveAccountClick {
  cursor: pointer;

  &:hover::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: black;
  }
}

.cadastroText {
  font-family: $font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: $text-color;
  margin-bottom: 8px;
}

.cadastroButton,
.cadastroCancel {
  font-family: $font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  border-radius: 9px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 108px;
  cursor: pointer;
  margin-top: 20px;
}

.cadastroButton {
  color: $background-color;
  background: $primary-color;
}

.cadastroCancel {
  color: $primary-color;
  background: $background-color;
}

// forms
.fieldGroup {
  // margin-bottom: 20px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 95%;
  margin: 0 auto;
}

.inputGroup {
  display: flex;
  align-items: center;
  gap: 10px;
}

.textFieldFull {
  width: 50%;
}
